@import url("https://fonts.cdnfonts.com/css/ponjoung");
@import url("https://fonts.cdnfonts.com/css/outfit");
@import url("https://fonts.cdnfonts.com/css/f-finish");
:root {
  --CL-primary-500: rgb(31, 36, 55);
  --CL-primary-300: rgb(252, 195, 52);
  --CL-primary-700: rgb(4, 4, 4);

  --CL-neutral-100: rgb(255, 255, 255);
  --CL-neutral-700: rgb(0, 0, 0);

  --FF-heading: "f Finish", sans-serif;
  --FF-anchor: "Ponjoung", sans-serif;
  --FF-general: "Outfit", sans-serif;

  --FS-heading: clamp(4rem, 3.5rem + 5vw, 8rem);
  --FS-subheading: clamp(2rem, 1.5rem + 5vw, 3.5rem);
  --FS-normal: clamp(1.4rem, 1rem + 5vw, 1.8rem);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

section {
  padding: 10vh 0;
}

h1,
h2 {
  font-size: var(--FS-heading);
}

h3 {
  font-size: var(--FS-subheading);
}

h1,
h2,
h3,
h4 {
  font-family: var(--FF-heading);
}

a {
  text-decoration: none;
  font-family: var(--FF-anchor);
}

button,
a {
  cursor: pointer;
}

p {
  font-family: var(--FF-general);
  line-height: 1.4;
  margin: 2rem 0;
}

p,
a {
  font-size: var(--FS-normal);
  color: var(--CL-primary-500);
}

/* UTILITY CLASSES */

.container {
  width: min(90%, 130rem);
  margin: 0 auto;
}

.primary-button {
  background-color: var(--CL-primary-300);
  padding: 1rem;
  max-width: max-content;
  text-align: center;
  transition: 200ms;
}

.secondary-button {
  background-color: var(--CL-primary-700);
  color: var(--CL-neutral-100);
  padding: 1rem;
  max-width: max-content;
  text-align: center;
  transition: 200ms;
}

.color-primary-300 {
  color: var(--CL-primary-300);
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-space {
  justify-content: space-between;
}

.flex-justify-evenly {
  justify-content: space-evenly;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.grid {
  display: grid;
}

.grid-item-center {
  place-items: center;
}

.grid-two-column {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grid-cards,
.grid-gallery,
.grid-customer,
.grid-footer {
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* HEADER */

.header {
  padding: 1.5rem 0;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--CL-neutral-100);
  z-index: 100;
}

.header__image img {
  width: 10rem;
}

.header__nav {
  display: none;
}

.header__nav a {
  margin: 0 1vw;
  transition: color 300ms, text-shadow 300ms;
}

.header__nav a:hover {
  color: var(--CL-primary-300);
  text-shadow: 1px 1px 2px var(--CL-neutral-700);
}

.header__icons a {
  margin: 0 0.3vw;
}

/* MENU SECTION */

.menu__card {
  padding: 1rem;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
}

.menu__card .card__image {
  height: 22.5rem;
  overflow: hidden;
}

.menu__card .card__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s all;
  cursor: pointer;
}

.card__content {
  text-align: center;
}

.card__content h3 {
  margin: 1rem 0;
}

.card__content p {
  margin: 0;
}

.card__content .content__price {
  font-weight: bold;
}

.card__content .content__rating {
  margin: 1.5rem 0;
}

/* GALLERY SECTION */

.gallery__image {
  position: relative;
}

.gallery__image img {
  width: 100%;
  object-fit: cover;
}

.gallery__content {
  text-align: center;
  position: absolute;
  opacity: 0;
  padding: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  transition: 0.25s;
  cursor: pointer;
}

.gallery__content p {
  color: var(--CL-neutral-100);
}

/* CUSTOMER SECTION */

.customer__card {
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
  transition: 300ms;
}

.customer__image img {
  height: 15rem;
  border-radius: 50%;
  border: 3px solid var(--CL-primary-300);
  object-fit: cover;
}

.customer__information {
  text-align: center;
}

.customer__information h3 {
  margin: 1rem 0;
}

.customer__card:hover .customer__social__media {
  opacity: 1;
}

.customer__social__media {
  opacity: 0;
  margin: 1rem 0 0 0;
  transition: 300ms;
}

.customer__social__media a {
  transition: 200ms;
  margin: 0 0.5rem;
}

.customer__social__media a:hover {
  color: var(--CL-primary-300);
}

/* ORDER SECTION */

#order__section {
  background-image: url("../image/bg2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.order__form {
  border: none;
  font-size: var(--FS-normal);
}

.order__form label {
  font-family: var(--FF-anchor);
}

.order__form button {
  max-width: 100%;
  border-radius: 0.5rem;
  border: none;
  font-family: var(--FF-general);
  font-size: var(--FS-normal);
}

.order__input {
  display: block;
  margin: 1rem 0;
  border: none;
  font-size: var(--FS-normal);
  padding: 1rem;
  background-color: var(--CL-primary-500);
  border-radius: 0.5rem;
  color: var(--CL-neutral-100);
  width: 100%;
}

.order__input::placeholder {
  color: var(--CL-primary-300);
}

/* FOOTER SECTION */

footer {
  background-color: var(--CL-primary-300);
  padding: 2rem 0;
}

.footer__list ul {
  list-style: none;
}

.footer__list li {
  margin: 0.5rem 0;
}

.footer__list h3 {
  margin: 1rem 0;
}

@media (max-width: 400px) {
  .grid-cards,
  .grid-gallery,
  .grid-customer,
  .grid-footer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media (max-width: 992px) {
  .grid-reverse-area {
    grid-template-areas: "picture", "content";
    gap: 2rem;
  }

  .grid-reverse-area .hero__left {
    grid-area: content;
    grid-column: 1 / 2;
  }
}

@media (min-width: 992px) {
  section {
    padding: 12vh 0;
  }

  #hero__section {
    padding: 20vh 0 8vh 0;
  }

  .grid-column {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 4rem;
  }

  .grid-cards,
  .grid-customer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid-footer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .grid-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .primary-button:hover {
    background-color: var(--CL-neutral-700);
    color: var(--CL-neutral-100);
  }

  .secondary-button:hover {
    background-color: var(--CL-primary-300);
    color: var(--CL-neutral-700);
  }

  .header__nav {
    display: initial;
  }

  .menu__card .card__image img:hover {
    transform: scale(1.15);
  }

  .gallery__content:hover {
    opacity: 1;
  }
}
